smart-stadium-transcoding/result
smart-stadium-transcoding/figure
emulation/result
emulation/figure
emulation-srs/result
emulation-srs/figure
yolo-use-case/video-track/figures
yolo-use-case/video-track/results
emulation-srs/tutti-service/result
emulation-srs/pets-v1-service/result
*.pt
*.log