smart-stadium-transcoding/result
smart-stadium-transcoding/figure
emulation/result
emulation/figure
emulation-srs/result
emulation-srs/figure
yolo-use-case/video-track/figures
yolo-use-case/video-track/results
*.pt